#============= audioserver ==============
allow audioserver debugfs_tracing:file { open write };

#============= cameraserver ==============
allow cameraserver debugfs_tracing:file { open write };

#============= crash_dump ==============
allow crash_dump debugfs_tracing:file { open write };

#============= hal_audio_default ==============
allow hal_audio_default debugfs_tracing:file { open write };

#============= hal_fingerprint_default ==============
allow hal_fingerprint_default tee_device:chr_file { ioctl open read write };

#============= hal_graphics_composer_default ==============
allow hal_graphics_composer_default debugfs_tracing:file { open write };
allow hal_graphics_composer_default sysfs:file { getattr open read };

#============= hvdcp ==============
allow hvdcp sysfs:file { open read };

#============= init ==============
allow init diag_device:chr_file { ioctl write };
allow init ion_device:chr_file ioctl;
allow init netd:unix_stream_socket connectto;
allow init netd_socket:sock_file write;
allow init netmgrd_socket:sock_file write;
allow init node:udp_socket node_bind;
allow init property_socket:sock_file write;
allow init qdsp_device:chr_file ioctl;
allow init rfs_file:file rename;
allow init rfs_system_file:lnk_file read;
allow init self:capability2 block_suspend;
allow init self:netlink_route_socket { bind create getattr nlmsg_read nlmsg_write read setopt write };
allow init self:netlink_socket read;
allow init self:socket { bind connect create read write };
allow init self:tcp_socket { create ioctl };
allow init self:udp_socket { bind getattr getopt ioctl read setopt write };
allow init sensors_device:chr_file ioctl;
allow init sg_device:chr_file { ioctl write };
allow init ssd_device:blk_file write;
allow init storage_file:lnk_file read;
allow init tee_device:chr_file { ioctl write };
allow init vfat:dir search;
allow init vfat:file { getattr open read };

#============= mm-pp-daemon ==============
allow mm-pp-daemon servicemanager:binder call;

#============= netd ==============
allow netd debugfs_tracing:file { open write };

#============= qseeproxy ==============
allow qseeproxy servicemanager:binder { call transfer };

#============= rild ==============
allow rild default_android_service:service_manager find;

#============= servicemanager ==============
allow servicemanager qseeproxy:dir search;
allow servicemanager qseeproxy:file { open read };
allow servicemanager qseeproxy:process getattr;

#============= surfaceflinger ==============
allow surfaceflinger debugfs_tracing:file { open write };

#============= toolbox ==============
allow toolbox init:unix_stream_socket connectto;
allow toolbox property_socket:sock_file write;

#============= ueventd ==============
allow ueventd vfat:file { open read };

#============= zygote ==============
allow zygote debugfs_tracing:file { open write }; 
